{% extends 'layouts/backOffices/layout.html.twig' %}
{% block head %}
    {% include 'layouts/backOffices/inc/head.html.twig' with {'title':'Espace Biblithécaire'}%}
{% endblock %}
{% block header %}
    {% include 'layouts/backOffices/inc/header.html.twig' with {'space':''} %}
{% endblock  %}
{% block sidebar %}
    {% include 'layouts/backOffices/inc/librarianSidebar.html.twig' with {'current':'dashboard'} %}
{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <h1>Synthèse des Statistiques</h1>

    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <!-- ICON BG -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Love-User" style="color: #49bbff"></i>
                    <div class="content">
                        <p class="text-muted text-17 mt-2 mb-0">Etudiants</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{countOfStudent}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Book" style="color: #49bbff"></i>
                    <div class="content">
                        <p class="text-muted text-17 mt-2 mb-0">Livres</p>
                        <p class="text-primary text-24 line-height-1 mb-2 text-nowrap ">{{countOfBooks}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Handshake" style="color:#49bbff"></i>
                    <div class="content">
                        <p class="text-muted text-17 mt-2 mb-0">Prêts</p>
                        <p class="text-primary text-24 line-height-1 mb-2 text-nowrap">{{countOfLoans}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Bookmark" style="color: #49bbff" ></i>
                    <div class="content">
                        <p class="text-muted text-17 mt-2 mb-0" >Retard</p>
                        <p class="text-primary text-25 line-height-1 mb-2 text-nowrap">200000</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Les 5 livres les plus empruntés</div>
                    <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3"><img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3"  src="" alt="">
                        <div class="flex-grow-1">
                            <h5 style="color:#0d95e8"></h5>
                            <p class="m-0 text-small text-muted"></p>
                            <p class="text-small text-danger m-0"></p>
                        </div>
                        <div>
                            <button class=" btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm">

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12" >
            <div class="card o-hidden mb-4" >
                <div class="card-header d-flex align-items-center border-0">
                    <h3 class="w-50 float-left card-title m-0">Le top 5 étudiants</h3>
                </div>
                <div>
                    <div class="table-responsive">
                        <table class="table text-center" id="user_table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Solde</th>
                                <th scope="col">Points</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}