{% extends 'layouts/backOffices/layout.html.twig' %}
{% block head %}
    {% include 'layouts/backOffices/inc/head.html.twig' with {'title':'Espace Biblithécaire'}%}
{% endblock %}
{% block header %}
    {% include 'layouts/backOffices/inc/header.html.twig' with {'space':''} %}
{% endblock  %}
{% block sidebar %}
    {% include 'layouts/backOffices/inc/librarianSidebar.html.twig' with {'current':'late'} %}
{% endblock %}
{% block content %}
    <h1>late books</h1>
{% endblock %}