<div class="flex-grow-1"></div>
<div class="app-footer">
    <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
        <span class="flex-grow-1"></span>
        <div class="d-flex align-items-center">
            <div>
                <p class="m-0">© {{ "now"|date("Y") }} Cosa Nostra Team Tout droits réservés.</p>
            </div>
        </div>
    </div>
</div>