{% extends 'layouts/frontOffice/layout.html.twig' %}
{% block header %}
    {% include 'layouts/frontOffice/inc/login-register-header.html.twig' with {'title':'login'} %}
{% endblock  %}

{% block content %}
<style>
    .error{
        color: #FB8282;
        font-size: 12px;
    }
</style>
    <section class="fullwidth-page novi-background bg-cover bg-image custom-bg-image" style="background-image: url({{ asset('images/frontOffice/bg-login.jpg') }});">
        <div class="fullwidth-page-inner">
            <div class="section-md text-center">
                <div class="container">
                    <h3>s'identifier</h3>
                    <div class="row row-fix justify-content-sm-center">
                        <div class="col-md-8 col-lg-6 col-xl-4">

                            <form class="form-fix" id="login" method="post">
                                <div class="form-wrap form-wrap-validation">
                                    <input class="form-input" value="{{ last_username }}"  type="email" id="inputEmail" name="email" >
                                    <label class="form-label" for="inputEmail">E-mail</label>
                                </div>
                                <div class="form-wrap form-wrap-validation">
                                    <input class="form-input" type="password" id="inputPassword"  name="password" >
                                    <label class="form-label" for="inputPassword">Mot de passe</label>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="form-button">
                                    <button class="button button-block button-primary button-nina" type="submit">Se Connecter</button>
                                </div>
                            </form><br><br>
                            <div class="box-minimal-icon fa-sign-in"style="color: white"> <a href="{{ path('studentRegister') }}" style="color: white">S'inscrire</a> </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="section-xs page-footer text-center">
                <div class="container">
                    <p class="right">&#169; <span class="copyright-year"></span> Tous les droits sont réservés
                        &nbsp;<a href="#">Conditions d'utilisation</a>&nbsp;<span>and</span>&nbsp;<a href="#">
                            Politique de confidentialité</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script>
    $(function () {
        $("#login").validate({
        errorClass: "error",
        validClass: "success is-valid",
        rules: {
            "email": {
                required: true,
                email: true,
            },
            "password": {
                required: true,

            },
        },
        messages: {

            "email": {
                required: "L'email est obligatoire",
                email: "L'email n'est pas valide"
            },
            "password": {
               required: "Le Mot de passe est obligatoire"
            }
        }
        });
    });
    </script>
{% endblock %}
{% block footer %}
{% endblock %}
